input, select {
    padding: 10px;
}
input[type=date] {
    padding: 5px;
}
.plus {
    height: 25px;
    width: 25px;
    padding: 5px;
    font-size: 30px;
    color: white;
    background-color: #cf0e0e;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}
.plus:hover {
    background-color: #b40d0d;
}
.min {
    padding: 1px;
    background-color: transparent;
    color: #323232;
    font-size: 17px;
    border: 2px #404040 solid;
}
.min:hover {
    background-color: #e2e2e2;
}
#bForm {
    font-size: .5em;
    padding: 7px 13px;
}
.nav-admin {
    position:absolute;
    right:35px;
    top:5px;
}
.nav-admin * {
    font-size: .5rem;
}
.nav-item-admin {
    transition: .5s;
    cursor:pointer;
    float: left;
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
    margin: 0 3px;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #f91414;
}
.nav-item-admin span, .nav-item-admin i {
  transition: 0s;
}
.nav-item-admin:after {
    content: '';
    z-index: -2;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: #f91414;
}
.nav-item-admin:hover {
  color: white;
}
.nav-item-admin:hover:after {
    top: 0;
}
.nav-item-admin i {
    font-size: 1.2em;
}
.form-wrapper #cke_konten {
    width: 95%;
    margin: 5px 0;
}
.set-form {
    animation: scalein .5s ease;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    background: white;
    width: 90%;
    max-width: 400px;
    z-index: 99;
    padding-bottom: 20px;
}
.edit-form {
    max-width: 800px;
}
.set-form form {
    padding: 20px;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.edit-form .form {
    display: flex;
    flex-direction: row;
}
.edit-form .form div {
    width: 100%;
    padding: 0;
}
.edit-form .form .scroll-down {
    flex-shrink: 2;
    padding-left: 5px;
}
.set-form form h1 {
    text-align: center;
    font-size: .8em;
}
.set-form .kelas {
  margin: 0;
  width: 80% !important;
}
.set-form .kelas input[type="number"]:first-child {
  margin-left: 2px;
}
.set-form .kelas input[type="number"]:last-child {
  /*margin-right: 0;*/
}
.i-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.i-wrapper label {
    width: 25%;
}
.i-wrapper input {
    width: 75%;
}
.i-wrapper select {
    width: 79%;
}
.i-wrapper .input-wrapper {
  margin: 2px !important;
}
.set-form input, .set-form select {
    text-align: center;
    margin: 2px;
}
.set-form:not(.edit-form) input[type=submit] {
    margin-top: 10px;
}
.h-wrapper td i {
    font-size: .5em;
    transform: translateY(-3px);
}
.h-wrapper .gold i {
    color: gold;
    font-size: .9em;
    transform: translateY(-1px);
}
.red i {
    color: #ff1818;
}
.green i {
    color: #10d310;
}
.blue i {
    color: blue;
}
.container {
    width: 100%;
    display: flex;
}
.nav {
    background: #3b3b3b;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    text-align: center;
    display: flex;
    position: fixed;
    flex-direction: column;
}
.nav * {
    cursor: pointer;
    font-size: .8em;
}
.nav img {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: thin solid #acacac;
}
.nav a {
    color: #d1d1d1;
    padding: 3px;
    margin-top: 4px;
    font-weight: bold;
    text-decoration: none;
    color: #ebebeb;
    font-size: .7em;
    transition: 0s;
}
.nav .active, .nav a:hover {
    color:#272727;
    background-color: white;
}
.nav h1 {
    color: #bcbcbc;
}
.logout {
    background-color: #242424;
    margin: 0;
    margin-top: auto;
    margin-bottom: 10px;
}
.wrapper {
    margin-left: 200px;
    max-width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    padding: 0 20px;
    padding-bottom: 7vh;
}
.wrapper h1 {
    margin: 0;
    text-align: center;
}
.wrapper h2 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: .6em;
    font-weight: normal;
}
.wrapper form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.wrapper input[type=number] {
    width: 50px;
}
.wrapper input[type=submit] {
    margin-left: 15px;
    padding: 10px 10px;
}
.wrapper form > select {
    margin: 0 5px;
}
.wrapper .kelas {
    margin: 0 5px;
}
.wrapper > form {
    padding-bottom: 10px;
    border-bottom: thin solid #a0a0a0;
}
.h-wrapper {
    max-width: 990px;
    margin: 0;
}
.h-wrapper {
    margin-top: 30px;
    position: relative;
}
.h-wrapper .return {
    transform: translateY(1px);
    cursor: pointer;
    font-size: .7em;
    background: #a70000;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 5px;
}
.h-wrapper .return:first-child {
    background: #3ed43e;
}
.h-wrapper th {
    font-size: .7em;
}
.form-wrapper {
    margin: auto;
    width: 90%;
    overflow: hidden;
    overflow-x: auto;
}
.img-wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 0;
}
.img {
    padding: 0;
}
.set-wrapper {
    overflow: hidden;
    float: right;
    background: white;
    cursor: pointer;
}
.set-wrapper i {
    margin-right: 5px;
    font-size: 1.5em;
}
.set-wrapper:hover i {
    transform: rotate(-180deg);
}
.set-wrapper span {
    font-size: .6em;
    display: flex;
    align-items: center;
    transform: translateX(65px);
}
.set-wrapper:hover span {
    transform: translateX(0);
}
.search-book form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    border-top: thin solid #9b9b9b;
}
.search-book select {
    padding: 0;
    margin-right: 15px;
}
.s-wrapper {
    padding: 0;
    position: relative;
    width: 30vw;
}
.s-wrapper input {
    padding-right: 30px;
    width: calc(100% - 41px);
}
.s-icon {
    border-left: thin solid #bfbfbf;
    position: absolute;
    top: 7px;
    right: 0;
    padding-left: 7px;
    cursor: pointer;
}
