.header {
    background: none;
    box-shadow: none;
}
.header img {
    transform: translateY(-100%);
}
.header span {
    color: rgba(255, 255, 255, 0.8);
}
.header span:hover {
    color: white;
}
.top {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.top .ts {
    height: 70px;
    position: absolute;
    top: 30px;
    left: 50px;
    -webkit-filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white)
      	drop-shadow(-1px -1px 0 white);

	filter: drop-shadow(1px 1px 0 white)
		drop-shadow(-1px 1px 0 white)
		drop-shadow(1px -1px 0 white)
       	drop-shadow(-1px -1px 0 white);
}
.top .ts * {
    height: 100%;
}
.top .ts:last-child {
    filter: none;
}
.top .sp {
    height: 100%;
}
.top .bg {
    filter: brightness(95%) blur(2px);
    background: url(../images/bg.jpeg) center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.top .wrapper {
    max-width: 850px;
    margin-left: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    transform: translateY(1vh);
}
.top .wrapper img {
    width: 25vw;
    max-width: 280px;
}
.top p {
    font-size: .7em;
    margin-top: -20px;
}
@keyframes geser {
    0% {
        transform: translateY(-5px) scale(1);
        -webkit-filter: drop-shadow(0 15px 4px black);
        filter: drop-shadow(0 15px 4px black);
    }
    50% {
        transform: translateY(0) scale(.9);
        -webkit-filter: drop-shadow(0 5px 2px black);
        filter: drop-shadow(0 5px 2px black);
    }
    100% {
        transform: translateY(-5px) scale(1);
        -webkit-filter: drop-shadow(0 5px 4px black);
        filter: drop-shadow(0 15px 4px black);
    }
}
.top > a {
    -webkit-filter: drop-shadow(0 5px 5px black);
    filter: drop-shadow(0 5px 5px black);
    animation: geser 1.2s infinite;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    margin: auto;
    color: white;
    font-weight: 10;
    font-size: 2.5em;
}
.top .wrapper * {
    color: white;
    z-index: 1;
    -webkit-filter: drop-shadow(2px 5px 10px black);
    filter: drop-shadow(2px 5px 10px black);
}
.top .wrapper .title {
    transform: translateY(-20px);
    text-align: right;
    margin-right: auto;
    padding-right: 20px;
}
.news-wrapper {
  margin-bottom: 25px;
}
.search-book form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}
.book-detail {
    position: relative;
    max-height: 90vh;
    min-height: 220px;
    width: calc(90% - 80px);
    max-width: calc(700px - 80px);
    padding: 0 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 3px;
    background: white;
    overflow-y: auto;
}
.book-detail .av-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background: #ed2c2c;
    padding: 0 10px;
    transform: translateY(5px);
}
.book-detail .av-wrapper span {
    color: white;
    padding: 10px 0;
}
.book-detail .av-wrapper span:first-child {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 3px solid white;
}
.book-detail hr {
    margin: 5px 0;
}
.book-detail h1 {
    margin-bottom: -10px;
}
.book-detail > span:nth-child(2) {
    color: #5b5b5b;
    font-size: .5em;
    padding-left: 10px;
}
.book-detail span {
    font-size: .55em;
}
.book-list {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border-top: thin solid #c3c3c3;
}
.book-item {
    box-shadow: 1px 2px 3px #ada6a6;
    border-radius: 0 0 3px 3px;
    height: 35px;
    width: 250px;
    background: #f9f4f4;
    overflow: hidden;
    margin: 10px 15px;
    position: relative;
    cursor: pointer;
}
.book-item * {
    font-size: .5em;
}
.book-item span, .book-item .judul {
    font-size: 1em;
}
.book-item .judul {
  line-height: 2;
}
.book-item > div:first-child {
    margin: 0;
    padding: 7px;
    padding-top: 0;
    overflow: hidden;
}
.book-item div:nth-child(2) {
   border-radius: 0 3px 3px 0;
   position: absolute;
   right: 0;
   top: 0;
   color: white;
   background: #e61e1e;
   border-left: 2px solid white;
   height: 100%;
   padding: 0 10px;
   display: flex;
   align-items: center;
   z-index: 5;
}
.book-item .av {
  overflow: hidden;
  width: 0;
  position: absolute;
  padding-top: 7px;
  text-align: center;
  right: 0;
  top: 0;
  height: 100%;
  color: white;
  background: rgba(227, 9, 9, 0.83);
}
.book-item:hover .av {
  width: 100%;
}
.s-wrapper {
    padding: 0;
    position: relative;
    width: 30vw;
}
.s-wrapper input {
    padding-right: 32px;
    width: calc(100% - 41px);
}
.s-icon {
    border-left: thin solid #bfbfbf;
    position: absolute;
    top: 7px;
    right: 0;
    padding-left: 7px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .top .bg {
        background-image: url(../images/bg-s.jpeg);
    }
    .top .wrapper {
        flex-direction: column;
        margin: auto;
        transform: translateY(2vh);
    }
    .top .wrapper .title {
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .top .wrapper img {
        height: 25vh;
        width: auto;
    }
    .top .ts {
        left: .5em;
    }
    .search-book form {
        flex-direction: column;
    }
    .s-wrapper {
        margin-top: 5px;
        width: 100%;
    }
    .s-wrapper input {
        margin: 0;
    }
    .book-item {
      margin: 10px 5px;
      width: 100%;
      max-width: 300px;
    }
    .book-detail {
        min-height: 260px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .book-detail .av-wrapper {
        float: none;
        margin: auto;
        width: 130px;
    }
}
