@media print {
  body * {
    visibility: hidden;
  }
  #print, #print * {
    visibility: visible;
  }
  #print {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0;
    z-index: 999;
    display: grid;
  }
}