@font-face {
    font-family: "open";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeout {
    0% {opacity: 1}
    100% {opacity: 0}
}
@keyframes scalein {
    0% {transform: scale(0);opacity: 0}
    100% {transform: scale(1);opacity: 1}
}
@keyframes scaleout {
    0% {transform: scale(1);opacity: 1}
    100% {transform: scale(0);opacity: 0}
}
@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
* {
    transition: .5s;
    font-family: roboto;
    font-size: 33px;
}
body {
    margin: 0;
}
form * {
    font-size: 17px;
    padding: 5px;
    transition: 0s;
}
input {
    border-radius: 2px;
    border: thin solid #808080;
    box-shadow: none;
    outline: none;
    margin: 0 5px;
    padding: 10px;
}
input:focus, textarea:focus, select:focus {
    outline: 1px solid #f51818;
}
input:active, textarea:active, select:active {
    outline: none;
}
input[type=submit], button {
    padding: 13px 0;
    cursor: pointer;
    color: white;
    background: #f22323;
    transition: .5s;
}
input[type=submit]:hover {
    background: #ff0000;
}
.label-file {
    text-align: center;
    padding: 0;
    transition: .5s;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgba(172, 172, 172, 0.8);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-file * {
    width: auto;
}
.label-file:hover {
    opacity: 1;
}
.kelas {
    padding: 0;
    display: flex;
}
.load-wrapper {
    z-index: 30;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.8);
    justify-content: center;
    align-items: center;
}
.load-wrapper i {
    color: #102b41;
    font-size: 2em;
    animation: rotate 1s infinite;
}
.img-parent {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}
.hidden {
    display: none;
}
.header {
    top: 0;
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #d2232a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px black;
}
.header * {
    color: white;
}
.header .logo {
    cursor: pointer;
    z-index: 51;
    position: fixed;
    top: 0;
    left: 2em;
    height: 120px;
    -webkit-filter: drop-shadow(-1px 1px 3px black);
    filter: drop-shadow(-1px 1px 3px black);
}
.header .pp {
    margin-right: 7px;
    height: 35px;
    border-radius: 50px;
}
.header i {
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 1.5em;
    margin-left: 1em;
}
.header span {
    text-transform: capitalize;
    cursor: pointer;
    font-size: .6em;
    position: relative;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, 0.9);
}
.header span:after {
    content: "";
    border-bottom: 2px solid white;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    transition: .5s;
}
.header span:hover:after, .header .dropdown-wrapper:hover + span:after {
    width: 100%;
}
.header span:hover {
    color: white;
}
.dropdown-wrapper {
    position: absolute;
    top: 28px;
    left: 42px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    width: calc(100% - 42px);
    min-width: 103px;
    height: 0;
    overflow: hidden;
    box-shadow: 0 0 10px #8e8e8e;
}
.header .dropdown-wrapper span {
    color: #b51212;
    font-size: .5em;
    display: block;
    padding: 10px;
}
.header .dropdown-wrapper *, .header .dropdown-wrapper *:after {
    border: none;
}
.header .dropdown-wrapper span:hover {
    background: #ededed;
}
.popup {
    position: absolute;
    z-index: 60;
    height: 100%;
    width: 100%;
    height: 100vh;
    top: 0vh;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.dark {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadein .5s;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    transition: .7s;
}
.dark-login {
    position: absolute;
    top: 0;
}
.login * {
    color: black;
}
.login form {
    height: calc(100% - 50px);
    width: 80%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}
.login h1 {
    font-size: .8em;
    margin: 0;
    margin-top: 5px;
    text-align: center;
}
.login i {
    margin: 0;
    padding: 10px 0;
}
.login input {
    margin-top: 5px;
}
.login-wrapper .login {
    animation: scalein .5s cubic-bezier(.17, .47, .19, 1.16);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    background: white;
    width: 80%;
    max-width: 400px;
    height: 70%;
    max-height: 290px;
    z-index: 99;
}
.signup-wrapper {
    display: flex;
    padding: 0;
}
.signup-wrapper div {
    padding: 0;
}
.signup-wrapper div:first-child {
    width: 65%;
}
.signup-wrapper div input {
    margin-top: 5px;
    width: calc(100% - 30px);
}
.signup-wrapper .kelas input {
    margin: 0;
}
.kelas {
    margin: 5px;
    margin-right: 2px;
    margin-bottom: 0;
    justify-content: space-between;
}
.kelas input[type=number]:last-child {
    width: 50px;
}
.kelas input[type=number]:first-child {
    width: 90px;
}
.pagination-wrapper {width: 100%;margin-top: 20px;margin-bottom: 20px;overflow: visible;transform: translateY(-2px);}
.pagination {margin: auto;width: 90%;max-width: 235px;}
.pagination .main {color: #6d6d6d;overflow: hidden;box-shadow: 0 0 8px #ebebeb;display: flex;justify-content: center;width: 100%;border: thin solid #bfbfbf;border-radius: 2px;}
.pagination span {padding: 10px;cursor: pointer;border-right: thin solid #bfbfbf;width: 43px;font-size: .5em;}
.pagination span:last-child {border-right: none;}
.pagination span:hover {background: #e8e8e8;color: #750d0d;}
.pagination .active {color: white;background-color: #cf0e0e;}
.pagination .active:hover {color: white;background-color: #bd0a0a;}
.login-tab {
    cursor: pointer;
    height: 50px;
    width: 100%;
    background: #d31111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-tab:hover {
    background: #fc2323;
}
.login-tab .s2 {
    display: none;
}
.login-tab:hover span:after {
    width: 100%;
}
.login-tab:hover span {
    color: white;
}
.login-tab * {
    color: white;
}
.login-tab i {
    transition: 1.3s;
    margin: 0;
    padding: 0;
    margin: 0 10px;
    font-size: .7em;
}
.login .form-wrapper {
    transition: 1.3s;
    height: 100%;
}
@keyframes slidein {
    0% {transform: translateX(100%)}
    100% {transform: translateX(0)}
}
@keyframes slideout {
    0% {transform: translateX(0)}
    100% {transform: translateX(100%)}
}
.sidebar-wrapper .sidebar {
    animation: slidein .5s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 400px;
    height: 100vh;
    background: black;
}
.sidebar-wrapper .sidebar .close-nav {
    float: right;
    margin-top: 15px;
    margin-right: 1.2em;
    font-size: 1.4em;
}
.wrapper {
    padding-top: 50px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    .header i {
        margin-right: .5em;
        margin-left: .3em;
    }
    .header .logo {
        left: .5em;
    }
    .sidebar-wrapper .sidebar .close-nav {
        margin-right: .3em;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .login-wrapper .login {
        height: 70%;
    }
    .signup-wrapper {
        flex-direction: column;
    }
    .signup-wrapper div:first-child {
        width: 100%;
    }
    .login form:last-child {
        height: 440px;
    }
    .kelas input[type=number]:last-child {
        width: 35px;
    }
    .kelas input[type=number]:first-child {
        width: 60px;
    }
}
