.h-wrapper {
    overflow: hidden;
    overflow-x: auto;
    margin: auto;
    max-width: 1100px;
    width: 90%;
    min-height: 150px;
    box-shadow: 0 0 5px #8b8b8b;
}
.h-wrapper table {
    margin: auto;
    min-width: 1100px;
    border-collapse: collapse;
}
.h-wrapper th {
    color: white;
    background: #d31111;
    padding: 4px 25px;
    font-size: .8em;
}
.h-wrapper td {
    padding: 4px 15px;
    font-size: .53em;
    text-align: center;
}
.h-wrapper tr {
    transition: 0s;
}
.h-wrapper tr:nth-child(even) {
    background: #e2e2e2;
}
.h-wrapper tr:hover {
    background: #d2cece;
}
